@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  background-color: #AC8435;
  height: 4em;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 3em 0 3em;
  z-index: 4;
}

body header .logo {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100px;
}

body header .logo a {
  text-decoration: none;
  color: #f8eedb;
}

body header .hamburger a {
  text-decoration: none;
  color: #f8eedb;
}

body header .hamburger a i {
  font-size: 1.5em;
}

body menu {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  right: 0;
  display: none;
  background-color: #AC8435;
  z-index: 5;
}

body menu .iconX {
  position: absolute;
  top: 2em;
  right: 2em;
}

body menu .iconX a {
  text-decoration: none;
}

body menu .iconX a i {
  font-size: 1.5em;
  color: #f8eedb;
}

body menu ul {
  height: 100%;
}

body menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  width: 100%;
  list-style: none;
  margin: 0 1em 0 1em;
}

body menu ul li a {
  text-decoration: none;
  color: #d5c199;
  font-size: 1.5em;
  font-family: 'PT Serif', serif;
  border-bottom: 0.1px solid #d5c199;
  -webkit-transition: border ease-in-out 0.4s, color 2ms ease-in-out;
  transition: border ease-in-out 0.4s, color 2ms ease-in-out;
}

body menu ul li a:hover, body menu ul li a:active {
  border-bottom: 4px solid #f8eedb;
  color: #f8eedb;
}

body menu ul li:hover {
  cursor: pointer;
}

body menu:target {
  display: block;
}

body .inicio {
  height: 90vh;
  width: 100vw;
  position: relative;
  top: 4em;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 3em 0 3em;
  background-color: #f8eedb;
  background-image: url(../img/pexels-acharaporn-kamornboonyarush-1028714.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

body .inicio .background-text {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 3em;
  right: 0;
}

body .inicio .background-text h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10em;
  overflow: hidden;
  z-index: 1;
  opacity: 5%;
  color: #AC8435;
}

body .inicio section {
  height: 300px;
  width: 280px;
  z-index: 2;
}

body .inicio section article {
  margin-bottom: 1.5em;
}

body .inicio section article h1 {
  font-family: 'PT Serif', serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #AC8435;
}

body .inicio section article p {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1em;
  color: #d5c199;
  margin-bottom: 1.5em;
}

body .inicio section article .button {
  height: 3em;
  width: 10em;
  border-radius: 7px;
  border: none;
  background-color: #AC8435;
  font-size: 1em;
  font-family: 'PT serif', serif;
  font-style: italic;
  color: #f8eedb;
  margin-bottom: 1em;
  cursor: pointer;
}

body .inicio section article .button:hover {
  border: 2px solid #ece1ce;
}

body .inicio section article .button-reservar {
  background-color: #ece1ce;
  color: #282423;
}

body .inicio section article .button-reservar:hover {
  border: 2px solid #AC8435;
}

body .inicio .arrow-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}

body .inicio .arrow-down a i {
  font-size: 1.5em;
  color: #f8eedb;
}

body .page-menu {
  height: auto;
  width: 100vw;
  background-color: #f8eedb;
}

body .page-menu .background-text {
  height: 20%;
  width: 100%;
  position: relative;
  top: 7em;
  right: 0;
}

body .page-menu .background-text h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10em;
  overflow: hidden;
  z-index: 1;
  opacity: 5%;
  color: #AC8435;
}

body .page-menu .menu-header {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-menu .menu-header h3 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  font-size: 1.5em;
  color: #AC8435;
  margin-bottom: 2em;
}

body .page-menu .menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .page-menu .menu-cards section {
  padding: 0 3em 0 3em;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .page-menu .menu-cards section a {
  text-decoration: none;
}

body .page-menu .menu-cards section a article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20em;
  width: 20em;
  background-image: url(../img/pexels-pixabay-302468.jpg);
  margin: 1em;
  border-radius: 0.5em;
  overflow: hidden;
  background-position: center bottom;
}

body .page-menu .menu-cards section a article .info {
  margin: 1.5em;
  z-index: 89;
  background-color: #282423;
  opacity: 70%;
  padding: 1em;
  border-radius: 0.5em;
}

body .page-menu .menu-cards section a article .info h4 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #f8eedb;
}

body .page-menu .menu-cards section a article .info p {
  font-family: 'PT Serif', serif;
  color: #d5c199;
  font-weight: 400;
  font-style: italic;
}

body .nosotros {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8eedb;
}

body .nosotros .background-text {
  height: 20%;
  width: 100%;
  position: relative;
  top: 7em;
  right: 0;
}

body .nosotros .background-text h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10em;
  overflow: hidden;
  z-index: 1;
  opacity: 5%;
  color: #AC8435;
}

body .nosotros .nosotros-header {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nosotros .nosotros-header h3 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
  font-size: 1.5em;
  color: #AC8435;
  margin-bottom: 2em;
}

body .nosotros .chef-section {
  height: auto;
  width: 40em;
  padding: 0 3em 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nosotros .chef-section article {
  height: 40vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em 0 4em;
}

body .nosotros .chef-section article .img-y-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nosotros .chef-section article .img-y-social img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 1em;
}

body .nosotros .chef-section article .img-y-social .social a {
  text-decoration: none;
}

body .nosotros .chef-section article .img-y-social .social a i {
  color: #d5c199;
}

body .contactos {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #282423;
  padding: 0 3em 0 3em;
}

body .contactos .background-text {
  height: 20%;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}

body .contactos .background-text h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10em;
  overflow: hidden;
  z-index: 1;
  opacity: 5%;
  color: #AC8435;
}

body .contactos .form {
  height: 50vh;
  width: 50vw;
}

body .contactos .form form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .contactos .form form label {
  margin-bottom: 1em;
  color: #d5c199;
}

body .contactos .form form input {
  height: 200px;
  width: 400px;
  border: 0px;
  margin-bottom: 1em;
  border-radius: 5px;
}

body .contactos .social {
  height: 100%;
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

body .contactos .social a {
  text-decoration: none;
}

body .contactos .social a i {
  font-size: 2em;
  color: #d5c199;
  margin: 0 1em 0 1em;
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  header .hamburger {
    display: none;
  }
  header menu {
    height: 2em;
    width: 40vw;
    display: inline;
  }
  header menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header menu ul li a {
    text-decoration: none;
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */